#root {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
  background-color: #d0bdf4;
  margin: 0;
  padding: 0 0 2% 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}


.ant-btn-default {
  color: #8458B3 !important;

}

.ant-btn-default :hover {
  border-color: #8458B3;

}

span .ant-select-selection-item {
  padding: 0;
}

.container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: auto;
  padding: 2em;
  width: 88%;
  max-width: 650px;
  box-sizing: border-box;
  margin-top: 10%;
}

.container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #292929;
}

.badge {
  margin-left: 0.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  background-color: #8458B3;
  color: #fff;
  font-size: 0.5rem;
}

#tabs {
  width: 100%;
  display: flex;
  padding: 0;

}

#tabs li {
  width: 50%;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;

}

#tabs li button {
  display: flex;
  border: none;
}

#subtabs {
  width: 100%;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#subtabs li {
  width: auto;
  list-style-type: none;
}


.ant-back-top {
  bottom: 50px;
}

.ant-back-top-inner {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  background-color: #8458B3;
  color: #fff;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom {
  display: flex;
  width: auto;
}

.date:focus {
  outline: none;
  border-color: #8458B3;
  box-shadow: 0 0 5px #8458B3
}

.video {
  border-radius: 22px;
  overflow: hidden;
  box-shadow: 0 19px 51px 0 rgba(0, 0, 0, 0.16), 0 14px 19px 0 rgba(0, 0, 0, 0.07);
  max-width: 720px;
}

#tabs .active {
  text-decoration: underline;
}

#subtabs .active {
  background-color: #8458b32a;
}


@media screen and (max-width: 430px) {
  .container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
    padding: 2em;
    width: 88%;
    max-width: 650px;
    box-sizing: border-box;
    margin-top: 25%;
  }

  .video {
    border-radius: 22px;
    overflow: hidden;
    box-shadow: 0 19px 51px 0 rgba(0, 0, 0, 0.16), 0 14px 19px 0 rgba(0, 0, 0, 0.07);
    width: 350px;
  }
}